@use "./_themes.scss" as *;
@use "sass:map";

// 声明全局变量以避免!global警告
$theme-map: null;

//遍历主题map
@mixin themeify {
  @each $theme-name, $theme-map in $themes {
    //!global 把局部变量强升为全局变量
    $theme-map: $theme-map !global;
    //判断html的data-theme的属性值  #{}是sass的插值表达式
    //& sass嵌套里的父容器标识   @content是混合器插槽，像vue的slot
    [data-theme="#{$theme-name}"] & {
      @content;
    }
  }
}

//声明一个根据Key获取颜色的function
@function themed($key) {
  @return map.get($theme-map, $key);
}

@mixin backgroundColor($color) {
  @include themeify {
    background: themed($color);
    transition: background-color 0.3s ease;
  }
}

@mixin fontColor($color) {
  @include themeify {
    color: themed($color);
    transition: color 0.3s ease;
  }
}

@mixin borderColor($color) {
  @include themeify {
    border-color: themed($color);
    transition: border-color 0.3s ease;
  }
}

@mixin boxShadowColor($color) {
  @include themeify {
    box-shadow: themed($color);
    transition: box-shadow 0.3s ease;
  }
}